{% extends 'index.html' %}

{% block content %}
<table>
    <tr>
        <th>key name</th>
        <th>key value</th>
        <th>last modified</th>
      </tr>
    {% for key in config %}
    <tr>
        <td>{{ key[0] }}</td>
        <td>{{ key[1] }}</td>
        <td>{{ key[2] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
{% block input %}
<form id="addConfig" action="/api/v1/config" method="post">
    <label for="key">Key Name:</label><br>
    <input type="text" id="key" name="key" placeholder="worker_enabled"><br>
    <label for="value">Key Value:</label><br>
    <input type="text" id="value" name="value" placeholder="True"><br>
    <input type="submit">Update Config Value</input>
</form>
{% endblock %}